
registry  "https://registry.npmmirror.com"
sass_binary_site  "https://registry.npmmirror.com/mirrors/node-sass"
sharp_binary_host   "https://registry.npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host   "https://registry.npmmirror.com/mirrors/sharp-libvips"

unsafe-perm  "true"

# @cmao:registry  "https://cnpm.codemao.cn/"
# cnpm.codemao.cn/:_password="d15nSFJHMjRYZnM2NzM2ZipzejNMZw=="
# cnpm.codemao.cn/:username=developer
# cnpm.codemao.cn/:email=luoyunzhi@codemao.cn
# cnpm.codemao.cn/:always-auth=true
