.full-screen, canvas {
  display: block;
  height: inherit;
  width: inherit;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 30px;
  padding: 2em;
}

.buttons button {
  width: 200px;
  height: 30px;
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.buttons button:first-child {
  margin-left: 0;
}

.button-selected{
  background-color:green;
  color: white;
}

.checkbox {
  position: absolute;
  color: #fff;
  border: 1px solid #eee;
}